/* --------------------------------------------------------------
   Colours
-------------------------------------------------------------- */
$primary-color: rgb(52, 57, 74);
$footer-text: rgb(212, 214, 224);
$footer-hover: rgb(131, 190, 148);
$border-color: mix(linen, rgb(131, 190, 148), 50%);




/* --------------------------------------------------------------
   Fonts
-------------------------------------------------------------- */
@font-face {
  font-family: 'listicons';
  src:  url('/assets/fonts/listicons.eot?20170224');
  src:  url('/assets/fonts/listicons.eot?20170224#iefix') format('embedded-opentype'),
    url('/assets/fonts/listicons.ttf?20170224') format('truetype'),
    url('/assets/fonts/listicons.woff?20170224') format('woff'),
    url('/assets/fonts/listicons.woff2?20170224') format('woff2'),
    url('/assets/fonts/listicons.svg?20170224#listicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('/assets/fonts/roboto-regular-webfont.eot?20170224');
    src: url('/assets/fonts/roboto-regular-webfont.eot?20170224#iefix') format('embedded-opentype'),
         url('/assets/fonts/roboto-regular-webfont.woff2?20170224') format('woff2'),
         url('/assets/fonts/roboto-regular-webfont.woff?20170224') format('woff'),
         url('/assets/fonts/roboto-regular-webfont.ttf?20170224') format('truetype'),
         url('/assets/fonts/roboto-regular-webfont.svg?20170224#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'glegooregular';
    src: url('/assets/fonts/glegoo-regular-webfont.eot?20170224');
    src: url('/assets/fonts/glegoo-regular-webfont.eot?20170224#iefix') format('embedded-opentype'),
         url('/assets/fonts/glegoo-regular-webfont.woff2?20170224') format('woff2'),
         url('/assets/fonts/glegoo-regular-webfont.woff?20170224') format('woff'),
         url('/assets/fonts/glegoo-regular-webfont.ttf?20170224') format('truetype'),
         url('/assets/fonts/glegoo-regular-webfont.svg?20170224#glegooregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
