@mixin reset {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    *, *:before, *:after {
        box-sizing: inherit;
        margin: 0;
        padding: 0;
    }

    *:hover {
        transition: .2s ease-in;

        .social-login-links > a, svg, span {
            transition: none;
        }
    }

    ul, ol, li, a {
        margin: 0;
        padding: 0;
    }
}
