@mixin reset {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    *, *:before, *:after {
        box-sizing: inherit;
        margin: 0;
        padding: 0;
    }

    *:hover {
        transition: .3s ease-in;
    }

    ul, ol, li, a {
        margin: 0;
        padding: 0;
    }
}
