// overrides for styles set in legacy LESS files for main site, members and update sections

.emailUpdateInfo {
    // background-color: darkseagreen;
    display: grid;
    grid-template-columns: 1fr;

    .emailUpdateIntro {
        @include reset;
        margin: 0 0 $base-font-size 0;
        padding: $base-font-size;
    }
}

.main > .form-container {
    // background-color: mediumseagreen;
    // width: 95vw;    // turn off for compilation of update.css // UPDATE
    margin-bottom: $base-font-size * 2;
}

.offerLogin {
    // background: salmon;
    display: grid;
    grid-template-columns: 1fr;
}

.commentSignIn, .report-comment-container {
    position: relative;

    a.cancel {
        background-color: lighten(crimson, 8%);
        color: snow;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 18px;
        right: 16px;
        width: 20px;
        height: 20px;
        fs: $base-font-size * 1.25;
        // line-height: 1.05;
        z-index: 10;

        &:hover {
            background-color: darken(crimson, 5%);
        }
    }
}

.report-comment-container {
    margin-bottom: $base-font-size * 1.25;

    .form-container {

        .report-form {

            fieldset {
                display: grid;

                p {
                    color: dimgray;
                    margin-bottom: $base-font-size / 2;
                    line-height: 1.6;

                    a {
                        color: $form-heading;

                        &:hover {
                            color: $form-heading-highlight;
                            text-decoration: underline;
                        }
                    }
                }

                .reporting-section {
                    // background-color: indianred;
                    position: relative;
                    margin: $base-font-size 0 $base-font-size * 1.5 0;

                    textarea {
                        width: 100%;
                        padding: 12px 24px;
                        fs: 120%;
                        border: none;
                        border-radius: 4px;

                        &:required {
                            box-shadow: none;
                        }

                        &:focus {
                            color: $form-heading-highlight;
                            outline: none;
                            border: none;
                            box-shadow: 0 0 10px -1px $form-heading-highlight;
                        }
                    }

                    label[for="reporting-section"] {
                        position: absolute;
                        top: 0;
                        left: 24px;
                        line-height: 3;
                        op: 0.6;
                        transition: all 0.3s ease 0s;
                    }
                }

                button[value="Report"] {
                    background-color: lighten(crimson, 8%);
                    color: snow;
                    width: 70%;
                    margin: auto;
                    ff: $body-bold-font;
                    fs: 105%;
                    letter-spacing: 0.01em;
                    text-transform: uppercase;
                    cursor: pointer;

                    &:hover {
                        background-color: darken(crimson, 5%);
                    }
                }
            }
        }
    }
}

.report-comment-container textarea:focus ~ label[for="reporting-section"] {
    color: $form-heading;
    padding-left: $base-font-size / 1.5;
}

.report-comment-container textarea:valid ~ label[for="reporting-section"] {
    color: transparent;
    display: none;
}




//Media queries - Mobile (landscape) + Tablet Layout (768px) and larger
@media only screen and (min-width: 650px) {
    .emailUpdateInfo {
        // background-color: indianred;

        .emailUpdateIntro {
            width: 50%;
            padding: $base-font-size * 1.5;
        }
    }

    .commentSignIn, .report-comment-container {
        max-width: 620px;

        a.cancel {
            // background-color: mediumturquoise;
            top: 26px;
        }
    }

    .commentSignIn > .form-container {
        grid-template-columns: 1fr 25%;
    }

    .report-comment-container > .form-container {
        grid-template-columns: 1fr;
        grid-column-gap: 0;
        grid-row-gap: 24px;

        .report-form {

            fieldset {

                button[value="Report"] {
                    width: 50%;
                }
            }
        }
    }
}




// Media queries - Desktop Layout (1024px) and larger
@media only screen and (min-width: 1024px) {
    .main > .form-container:not(.comment-form-container) {
        float: left;
        margin-right: $base-font-size * 2;
    }
}
