.social-share-section {
    background-color: none;
    height: 70px;
    margin-bottom: 0.5em;

    span {
        color: crimson;
        position: relative;
        display: block;
        width: 100%;
        height: calc(20px + 0.5em);
        margin: 0 auto;
        font-family: 'glegooregular', 'georgia', serif;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.05em;
    }

    span:before, span:after {
        background-color: crimson;
        content: ' ';
        position: absolute;
        top: 10px;
        width: 75px;
        height: 1px;
    }

    span:before {
        left: 0;
    }

    span:after {
        right: 0;
    }

    .icons-set-wrapper {
        margin: auto 0;

        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin: 0;
            padding: 0 30px;
            list-style: none outside none;

            li {

                .social-icon-svg {
                    fill: crimson;

                    &:hover {
                        fill: tomato;
                        transition: .2s ease-in;
                    }
                }
            }
        }
    }
}
